body {
	font-family: 'Myriad Pro' !important;
	font-size: 16px !important;
}
.banner {
	position: relative;
	background-image: url("images/banner.png");
  	height: 250px;
  	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
}

.banner__content {
	position: absolute;
	top: 39%;
	left: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
}

.banner__content__title {
	font-size: 50px;
	color: white;
}

.breadcrumb-item__content:before {
	content: ">" !important;
}

.test {
	color: #3c4d69;
}

.content__bg {
	height: 200px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
}

.content__bg.content__bg--1 {
	background-image: url("images/content_image_1.png");

}

.content__bg.content__bg--2 {
	background-image: url("images/content_image_2.png");
}

.content__bg.content__bg--3 {
	background-image: url("images/content_image_3.png");
}

.content__bg.content__bg--4 {
	background-image: url("images/content_image_4.png");
}

.content__title {
	color: #3c4d69;
}

.content__title--intro {
	font-weight: 700;
}

.banner__button {
	background: transparent;
	border: none;
}

.container__video {
	height: 250px;
}

.footer {
	background: #2b2b2b;
}

.footer__link {
	color: #9a9a9a !important;
}

.footer__icon {
	font-size: 26px;
	color: #9a9a9a;
}

.footer--below {
	background: black;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.banner__content__img:hover {
	opacity: 0.5;
}

@media screen and (min-width: 240px){
	.banner__content__title {
		font-size: 16px;
	}

	.banner__content__img {
		width: 36px;
		height: 100%;
	}

	.footer__padding {
		padding-bottom: 5px;
	}
}

@media all and (min-width: 480px) {
	.banner__content__title {
		font-size: 20px;
	}

	.banner__content__img {
		width: 48px;
		height: 100%;
	}

	.footer__padding {
		padding-bottom: 5px;
	}

	.container__video {
		height: 500px;
	}

	.banner {
		height: 250px;
	}

	.content__bg {
		height: 200px;
	}

}

@media all and (min-width: 600px) {
	.banner__content__title {
		font-size: 25px;
	}

	.banner__content__img {
		width: 60px;
		height: 100%;
	}

	.banner {
		height: 400px;
	}

	.content__bg {
		height: 300px;
	}

}

@media all and (min-width: 1024px) {
	.banner__content__title {
		font-size: 30px;
	}

	.banner__content__img {
		width: 72px;
		height: 100%;
	}

	.banner {
		height: 550px;
	}

	.content__bg {
		height: 400px;
	}
}

@media all and (min-width: 1280px) {
	.banner__content__title {
		font-size: 50px;
	}

	.banner__content__img {
		width: 84px;
		height: 100%;
	}

	.banner {
		height: 700px;
	}

	.content__bg {
		height: 500px;
	}
}